/*
Nought And Crosses - Style.css
*/

body{
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    margin: 0px;
}

header{
	width: 100%;
	background: #e56d2b;
	color: #fff;
	text-align: center;
	border-bottom: 20px solid #c55e26;
	padding: 10px;
}

#splash{
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
}

#splash .btn-x,#splash .btn-o{
	border: 1px solid #ddd;
	font-size: 24px;
	margin: 5px;
}

#splash .active,#splash .btn-x:active,#splash .btn-o:active,#splash .btn-x:hover,#splash .btn-o:hover{
	border: 1px solid #5a8de5;
	box-shadow: inset 0 3px 5px rgba(255, 255, 255, .125); 
	background-color: #5a8de5;
	color: #fff;
	-webkit-box-shadow: 0 2px 0 #3c5e9b;
    box-shadow: 0 2px 0 #3c5e9b;
}

#splash .btn-play{
	text-transform: uppercase;
	background-color: #e56d2b;
	-webkit-box-shadow: 0 2px 0 #9d4b1e;
    box-shadow: 0 2px 0 #9d4b1e;
	color: #fff;
	font-size: 24px;
}

#game{
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
}


#game .cell{
	width: 70px;
	height: 70px;
	display: inline-block;
	font-size: 35px;
	margin: 3px;
	text-align: center;
	background-color: #eee;
	border-radius: 4px;
	line-height: 70px;
    vertical-align: middle;
}

#game .cell:hover{
	background-color: #ddd;
}

#game .alert{
	color: #e5261f;
}


